{% extends "layout.html" %}

{% block title %}Namespace {{ namespace }} - {{ super() }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('namespaces') }}" rel="nofollow">Namespaces</a></li>
  <li class="active">{{ namespace }}</li>
</ol>
<div class="page-header">
  <h1>Namespace: {{ namespace }}</a></h1>
</div>

<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-eye-open"></span>
        Monitoring
      </h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled column-list">
        <li><a href="https://grafana.wmcloud.org/d/TJuKfnt4z/kubernetes-namespace?orgId=1&var-namespace={{ namespace|urlencode }}&var-cluster=prometheus-{{ project | urlencode }}" rel="nofollow">Grafana dashboard</a></li>
        {% if namespace.startswith('tool-') %}
        {% set tool = namespace[5:] %}
        <li><a href="https://toolsadmin.wikimedia.org/tools/id/{{ tool|urlencode }}" rel="nofollow">Maintainer information</a></li>
        <li><a href="https://sal.toolforge.org/tools.{{ tool|urlencode }}" rel="nofollow">SAL</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% if quota and quota["quotas"] %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-eye-open"></span>
        Quotas
      </h3>
    </div>
    <div class="panel-body">
      <ul class="column-list list-unstyled">
        {% for name, data in quota["quotas"].items() %}
        <li>
          <dl style="margin-bottom: 0;">
            <dt>{{ name }}</dt>
            <dd>
              {{ data["used"] }} / {{ data["hard"] }}
            </dd>
          </dl>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% if pods and pods["items"] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-modal-window"></span>
        Pods
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
          <tr>
            <th>Name</th>
            <th>Labels</th>
            <th>Ready</th>
            <th>Status</th>
            <th>Restarts</th>
            <th>Node</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          {% for pod in pods["items"] %}
          <tr>
            <td><a href="{{ url_for('pod', namespace=namespace, pod=pod.metadata.name) }}">{{ pod.metadata.name }}</a></td>
            <td>
              {% if pod.metadata.labels %}
              {% for key, value in pod.metadata.labels|dictsort %}
              <span class="label label-outline label-info">{{ key }}={{ value }}</span>
              {% endfor %}
              {% endif %}
            </td>
            <td class="text-center">{{ pod.status.container_statuses|selectattr('ready', 'equalto', True)|list|length }}/{{ pod.status.container_statuses|length }}</td>
            <td>{{ pod.status.phase }}</td>
            <td class="text-right">{{ pod.status.container_statuses|sum(attribute='restart_count') }}</td>
            <td><a href="{{ url_for('node', name=pod.spec.node_name) }}" class="text-nowrap">{{ pod.spec.node_name }}</a></td>
            <td class="text-right">{{ pod.status.start_time|duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if services and services["items"] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-transfer"></span>
        Services
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Cluster IP</th>
            <th>External IP</th>
            <th>Port(s)</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          {% for service in services["items"] %}
          <tr>
            <td>{{ service.metadata.name }}</td>
            <td>{{ service.spec.type }}</td>
            <td>{{ service.spec.cluster_ip }}</td>
            <td>{{ service.spec.external_ips|join(' ') }}</td>
            <td>
              {% for port in service.spec.ports %}
              {{ port.port }}{% if port.target_port and port.target_port != port.port %}:{{ port.target_port }}{% endif %}/{{ port.protocol }}
              {% endfor %}
            </td>
            <td class="text-right">{{ service.metadata.creation_timestamp|duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if ingresses and ingresses["items"] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-cloud-download"></span>
        Ingresses
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
          <th>Name</th>
          <th>Hosts</th>
          <th>Age</th>
        </thead>
        <tbody>
          {% for ingress in ingresses["items"] %}
          <tr>
            <td><a href="{{ url_for('ingress', namespace=ingress.metadata.namespace, name=ingress.metadata.name) }}">{{ ingress.metadata.name }}</a></td>
            <td>
              {{ ingress.spec.rules|map(attribute="host")|join(', ') }}
            </td>
            <td class="text-right">{{ ingress.metadata.creation_timestamp|duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if daemonsets and daemonsets["items"] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-import"></span>
        DaemonSets
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
          <tr>
            <th>Name</th>
            <th>Desired</th>
            <th>Current</th>
            <th>Ready</th>
            <th>Up-to-date</th>
            <th>Available</th>
            <th>Node selector</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          {% for daemonset in daemonsets["items"] %}
          <tr>
            <td>{{ daemonset.metadata.name }}</td>
            <td>{{ daemonset.status.desired_number_scheduled }}</td>
            <td>{{ daemonset.status.current_number_scheduled }}</td>
            <td>{{ daemonset.status.number_ready }}</td>
            <td>{{ daemonset.status.updated_number_scheduled }}</td>
            <td>{{ daemonset.status.number_available }}</td>
            <td>
              {% if daemonset.spec.template.spec.node_selector %}
              {% for key, value in daemonset.spec.template.spec.node_selector|dictsort %}
              <span class="label label-outline label-default">{{ key }}={{ value }}</span>
              {% endfor %}
              {% endif %}
            </td>
            <td class="text-right">{{ daemonset.metadata.creation_timestamp|duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if deployments and deployments["items"] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        Deployments
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
          <tr>
            <th>Name</th>
            <th>Ready</th>
            <th>Up-to-date</th>
            <th>Available</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          {% for deployment in deployments["items"] %}
          <tr>
            <td>{{ deployment.metadata.name }}</td>
            <td>{{ deployment.status.ready_replicas }}/{{ deployment.status.replicas }}</td>
            <td>{{ deployment.status.updated_replicas }}</td>
            <td>{{ deployment.status.available_replicas }}</td>
            <td class="text-right">{{ deployment.metadata.creation_timestamp|duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if replicasets and replicasets["items"] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-duplicate"></span>
        ReplicaSets
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
          <tr>
            <th>Name</th>
            <th>Desired</th>
            <th>Current</th>
            <th>Ready</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          {% for replicaset in replicasets["items"] %}
          <tr>
            <td>{{ replicaset.metadata.name }}</td>
            <td>{{ replicaset.spec.replicas }}</td>
            <td>{{ replicaset.status.replicas }}</td>
            <td>{{ replicaset.status.ready_replicas }}</td>
            <td class="text-right">{{ replicaset.metadata.creation_timestamp|duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if statefulsets and statefulsets["items"] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-object-align-left"></span>
        StatefulSets
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
          <tr>
            <th>Name</th>
            <th>Ready</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          {% for statefulset in statefulsets["items"] %}
          <tr>
            <td>{{ statefulset.metadata.name }}</td>
            <td>{{ statefulset.status.ready_replicas }}/{{ statefulset.spec.replicas }}</td>
            <td class="text-right">{{ statefulset.metadata.creation_timestamp|duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if autoscalers and autoscalers["items"] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        HorizontalPodAutoscalers
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if cronjobs and cronjobs["items"] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-time"></span>
        CronJobs
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
          <tr>
            <th>Name</th>
            <th>Schedule</th>
            <th>Suspend</th>
            <th>Active</th>
            <th>Last schedule</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          {% for cron in cronjobs["items"] %}
          <tr>
            <td>{{ cron.metadata.name }}</td>
            <td><tt>{{ cron.spec.schedule }}</tt></td>
            <td>{{ cron.spec.suspend }}</td>
            <td class="text-right">{% if cron.status.active %}{{ cron.status.active|length }}{% else %}0{% endif %}</td>
            <td class="text-right">{{ cron.status.last_schedule_time|duration }}</td>
            <td class="text-right">{{ cron.metadata.creation_timestamp|duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if jobs and jobs["items"] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-file"></span>
        Jobs
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover tablesorter">
        <thead>
          <tr>
            <th>Name</th>
            <th>Completions</th>
            <th>Duration</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs["items"] %}
          <tr>
            <td>{{ job.metadata.name }}</td>
            <td>{{ job.status.succeeded }}/{{ job.spec.completions }}</td>
            <td class="text-right">{{ job.status.start_time|duration(end=job.status.completion_time) }}</td>
            <td class="text-right">{{ job.metadata.creation_timestamp|duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/css/theme.default.min.css" crossorigin="anonymous">
{% endblock %}

{% block js %}
{{ super() }}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/js/jquery.tablesorter.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".tablesorter").tablesorter();
  });
</script>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
